.header {
	text-align: center;
	background-color: rgb(182, 182, 182);
	padding: 10px 0 10px 0;
}

.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.main {
	text-align: center;
	background-color: bisque;
}

.main_inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.more1, .more3 {
	background-color: rgb(224, 208, 105);
	padding: 15px;
	margin: 10px;
}


.aside {
	background-color: rgb(109, 222, 118);
	text-align: center;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: rgb(182, 182, 182);
}

.footer_item {
	background-color: rgb(227, 235, 235);
	text-align: center;
	margin: 15px;
	padding: 15px;
}