.container {
    display: grid;
    grid-template-columns: 100px 30% 1fr;
    grid-template-rows: 200px 100px 1fr;
    grid-gap: 10px;
}

.cell{
    background-color: bisque;
    text-align: center;
}